/* reponsive Mobile device */

@media screen and (max-width: 576px) {
  /* header style  */
  /* navbar section style */
  .nav li:nth-child(1) {
    display: none;
  }
  .nav li:nth-child(2) {
    display: none;
  }
  .nav li:nth-child(3) {
    display: none;
  }
  .header-container {
    padding: 25px 10px 0px 10px;
  }
  /* banner style */
  .banner-container {
    flex-direction: column-reverse;
    padding: 10px;
    margin: 28px 0px;
  }
  .banner-content {
    max-width: 100%;
  }
  .banner-image {
    max-width: 100%;
    margin-bottom: 25px;
  }
  h1.banner-title {
    font-size: 24px;
  }
  .banner-description {
    font-size: 14px;
  }

  /* plants section style */
  .plants-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .plant-content {
    width: auto;
  }
  .plant-section {
    padding: 10px;
  }
  /* plantLover section style */
  .plantLover-container {
    flex-direction: column;
  }
  .plantLover-image .badge {
    display: none;
  }
  .plantLover-image {
    max-width: 100%;
  }
  .plantLover-content {
    max-width: 100%;
  }
  .plantLover-content h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .plantLover-content ul li {
    margin-bottom: 16px;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 16px 30px;
  }
  /* latest deals section */
  .deal-content {
    width: auto;
    margin: 0px auto 60px;
  }
  .zabo-plant {
    height: 201px;
    order: 3;
  }
  .deals-container {
    grid-template-areas:
      "sixtyParsent"
      "thirtyParsent"
      "zaboPlant";
  }
  /* join section style */
  .join-section-container {
    margin: 80px auto;
  }
  .input-field input {
    width: 250px;
  }
  /* footer section style */
  .footer-container {
    flex-direction: column;
    margin: 0px 0px 0px 10px;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
}
