@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* custom css */
:root {
  --primaryColor: #e95a08;
  --secondaryColor: #8987a1;
  --descriptionColor: rgba(0, 0, 0, 0.5);
}
img {
  width: 100%;
}
.text-center {
  text-align: center;
}
.section-title {
  font-family: "Noto Serif", serif;
  margin-bottom: 16px;
}
.section-title span {
  color: var(--primaryColor);
}
.text-white {
  color: #ffffff;
}

/* .description-color {
  color: rgba(0, 0, 0, 0.5);
} */
.btn {
  display: block;
  padding: 15px 12px;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--primaryColor);
  color: #ffffff;
  border: none;
  transition: background-color 0.3s;
}
/* header section style */
.header {
  max-width: 1140px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.nav li a {
  color: var(--secondaryColor);
  font-weight: 600;
  margin-right: 50px;
  font-size: 27px;
  text-decoration: none;
}

.nav li:first-child a {
  color: #000000;
}
.nav li:last-child a {
  color: #000000;
  margin-right: 0px;
}
.nav li i {
  margin-right: 8px;
}
/* banner section style */
.banner-container {
  display: flex;
  align-items: flex-end;
  margin: 120px 0px;
  padding: 0px 10px 0px 10px;
}

.banner-content {
  max-width: 51%;
}

.banner-image {
  max-width: 49%;
}

h1.banner-title {
  font-family: "Noto Serif", serif;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.banner-title span {
  color: var(--primaryColor);
}
.banner-description {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: var(--descriptionColor);
}
/* plants section style */
.plant-section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 10px;
}
.plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plant-content {
  width: 710px;
  margin: 0px auto 39px auto;
}
.plant-item img {
  margin-bottom: 16px;
}
.plant-item h3 {
  margin-bottom: 9px;
}
.plant-item h4 {
  margin-bottom: 9px;
}
.section-description {
  color: var(--descriptionColor);
  font-size: 1.2rem;
}
.plant-container {
  margin-bottom: 100px;
}
.btn:hover {
  background-color: rgb(253, 99, 9);
}
/* plant lover section style */
.plantLover-section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

.plantLover-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.plantLover-image {
  position: relative;
  max-width: calc(50% - 10px);
}
.plantLover-content {
  max-width: calc(50% - 10px);
}
.badge {
  width: 168px;
  position: absolute;
  top: -50px;
  right: -50px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.badgeRotate {
  animation: spin 2s linear infinite;
}
.plantLover-content h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}
.plantLover-content li {
  margin-bottom: 20px;
  color: var(--descriptionColor);
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
.plantLover-content li:last-child {
  margin-bottom: 0px;
}
/* deals section style */
.deal-content h2 {
  font-size: 50px;
  font-weight: 600;
}
.deal-description {
  font-size: 22px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  color: var(--descriptionColor);
}
.latest-deal-section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

.latest-deals-container {
  margin: 100px auto 0px auto;
}
.deal-content {
  width: 710px;
  margin: 0px auto 90px;
}
.sixtyParsent {
  grid-area: sixtyParsent;
}
.thirtyParsent {
  grid-area: thirtyParsent;
}
.zabo-plant {
  grid-area: zaboPlant;
}
.deals-container {
  display: grid;
  grid-template-areas:
    "sixtyParsent   zaboPlant   zaboPlant"
    "thirtyParsent    zaboPlant   zaboPlant";
  column-gap: 28px;
  row-gap: 25px;
}
.sixtyParsent {
  background-image: url("../assets/deal-bloom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.thirtyParsent {
  background-image: url("../assets/deal-ana.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  grid-row: span 2;
}
.zabo-plant {
  max-height: 423px;
  background-image: url("../assets/deal-zabo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  grid-row: span 2;
}
.sixtyParsent h3,
.thirtyParsent h3 {
  font-size: 20px;
  font-weight: 600;
}
.sixtyParsent a,
.thirtyParsent a,
.zabo-plant a {
  font-weight: 600;
  color: #ffffff;
}
.sixtyParsent a,
.thirtyParsent a {
  padding: 9px 50px;
}
.zabo-plant h3 {
  font-size: 40px;
  font-weight: 600;
}
.thirtyParsent {
  max-width: 100%;
  height: 201px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sixtyParsent {
  max-width: 100%;
  height: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zabo-plant {
  height: 760px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* join section style */
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.join-section-container {
  max-width: 1140px;
  margin: 0 auto;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join-section-container .section-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 1.2rem;
}
a.btn-subcribe {
  text-decoration: none;
  display: inline-block;
  padding: 12px 15px;
  background-color: var(--primaryColor);
  cursor: pointer;
  transition: background-color 0.4s;
}
.btn-subcribe:hover {
  background-color: rgba(233, 90, 8, 0.466);
}
.input-field input {
  padding: 12px 16px;
  font-size: 1rem;
  width: 392px;
  border: none;
  outline: none;
}
form.input-field {
  font-family: "inter", sans-serif;
}
/* footer style */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 60px 80px;
}
.home ul,
.feature ul {
  list-style: none;
}
.home li a,
.feature li a {
  color: var(--descriptionColor);
  display: block;
  text-decoration: none;
  margin-bottom: 27px;
  font-size: 20px;
}
.footer-logo {
  max-width: 242px;
}
.footer-logo img {
  width: 135px;
  margin-bottom: 20px;
}
.footer-logo .description {
  color: var(--descriptionColor);
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.nav-link {
  display: flex;
}

.nav-link a {
  margin-right: 24px;
  cursor: pointer;
}

.nav-link a {
  width: 35px;
}
